<template>
    <el-card shadow="never" style="border: 0;">
        <yun-form
                :data="row"
                :columns="columns">
                <template #default>
                    {:token_field()}
                </template>
        </yun-form>
    </el-card>
</template>
<script>
    import form from "@components/Form.js";
    export default{
        components:{
            'YunForm':form
        },
        data:{
            columns:[
                {field:"id",title:"ID",edit:"hidden"},
                {field:"entry_time",title:"入场时间",edit: 'datetime',rules:'required'},
                {field:"plate_number",title:"车牌号",edit: 'text',rules:'required'}
            ],
            row:Yunqi.data.row
        },
        methods: {

        }
    }
</script>
<style>
</style>